
  <%= form.error_messages %>
  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :api_url_template %><br />
    <%= form.text_field :api_url_template %>
  </p>


