
  <%= form.error_messages %>
  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :input_template %><br />
    <%= form.text_area :input_template, :rows => 5, :cols => 80 %>
  </p>
